* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
    background: linear-gradient(135deg, #fff 0%,#e5e5e5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    font-family: "Roboto", "Helvetica Neue", "Ubuntu", Arial, sans-serif;
    flex-direction: column;
    height: 100vh;
}

header{
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  background: linear-gradient(135deg, #c80a00 0%,#c63931 100%);
  color: #fefefe;
  border-bottom: 3px solid #fff;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 10;
}

.header-button {
  position: absolute;
  top: -6px;
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid #b3120a;  
  color: #fefefe;
  width: 1.8em;
  height: 1.8em;
  padding: .3em .3em;
  z-index: 2; /* Make sure it is over the heading */
}

.header-button.right {
  right: 5px;
}

.header-button.left {
  left: 5px;
}

nav {
  position: relative;
  z-index: 2;
  text-align: center;
}

nav button {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.heading {
  text-align: center;
  color: #111;
  text-shadow: 1px 1px 1px #fff; 
}

.week-number {
  font-weight: bold;
  font-size: 1.6em;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

footer {
  font-size: 0.825em;
  opacity: 0.75;
  text-align: center;
  margin-bottom: 10px;
}

.hide {
  display: none !important;
}

@media (min-width: 45rem) {
  .stretch {
    max-width: 43rem;
    margin: 0 auto;
  }
  #container {
    padding: 80px 0 0;
  }
  header .header-button.right {
    right: 0;
  }

  header .header-button.left {
    left: 0;
  }
}

@media (min-width: 60rem) {
  .stretch {
    max-width: 55rem;
  }
}

#loading-container,
#offline-container,
#prediction-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  top: 0;
  bottom: 0;
}

body:not(.loading) #loading-container,
body:not(.points-visible) #prediction-points-container,
.loading #results-container,
.points-visible #results-container,
.offline .results,
.offline #loading-container {
  display: none;
}


#container {
  padding: 80px 5% 0;
  flex: 1 0 auto;
}


.tile {
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 3%;
  background-color: #fff;
  border-radius: 3px;
}

/* 2 Column layout */
@media (min-width: 45rem) {
  .result {
    width: 45%;
    display: inline-block;
    vertical-align: top;
  }
  .result:nth-child(even) {
    margin-right: 5%;
  }
  .result:nth-child(odd) {
    margin-left: 5%;
  }

  .result:last-child {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

/* 3 Column layout */
@media (min-width: 60rem) {
  .result {
    width: 32%;
    display: inline-block;
    vertical-align: top;
  }


  .result:nth-child(even) {
    margin-right: initial;
  }
  .result:nth-child(odd) {
    margin-left: initial;
  }

  .result:nth-child(3n) {
    margin-right: 2%;
    margin-left: 2%;
  }

  .result:last-child {
    margin-left: none;
    margin-right: none;
    display: inline-block;
  }
}

.result > div{
  margin-bottom: 0.5rem;
}

.teams > div,
.points > div,
.halfling {
  display: inline-block;
  width: 44%;
  margin: 0 2%;
  text-align: center;
  vertical-align: middle;
}

.team-name {
  display: block;
  word-wrap: break-word;
}

.team-icon {
  width: 1px;
  height: 1px;
  visibility: hidden;
}
.team-icon.loaded {
  width: 20px;
  height: 20px;
  visibility: visible;
}

.teams {
  font-weight: bold;
}

.result.not-started .points {
  display: none;
}

.points {
  font-size: 1.5em;
}
.time {
  text-align: center;
}

.goals ul {
  list-style: none;
  font-size: 0.9em;
}

.goals .goal-team-2 {
  text-align: right;
}

.more-container {
  display: none;
}
.more-container.open {
  display: block;
}

.predictions input {
  border: 1px solid #111;
  font-family: "Roboto";
  font-size: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  height: 3em;
  text-align: center;
}

.prediction-time-container {
  text-align: center;
}


button {
  font-size: 1.5em;
  margin-top: 0.2em;
  padding: 0.3em 0.5em;
}

.shore-more-button,
.save-prediction-button {
  width: 100%;
  display: block;
}


.shore-more-button span {
  transform: rotate(90deg);
  display: inline-block;
}
.shore-more-button[aria-expanded="false"] span {
  transform: rotate(-90deg);
}

.template {
  display: none;
}

.notice {
  background: #111;
  color: #fefefe;
  padding: 1em;
  border-radius: 3px;
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 5;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.notice:nth-of-type(4) {
  bottom: 120px;
}

.notice:nth-of-type(5) {
  bottom: 190px;
}


.points-table {
  min-width: 20rem;
}
.points-table tbody th {
  text-align: left;
}
.points-table tbody td {
  padding-left: 10px;
  text-align: center;
}

.points-table tbody tr:first-child {
  font-size: 1.6em;
}

.points-table tbody tr:first-child {
  font-size: 1.6em;
}
.points-table tfoot {
  text-align: center;
  font-style: italic;
}


/* Loading, borrowed from http://dabblet.com/gist/63cd532b1044f7e1c3c519fca31fec5d */
@keyframes loader {
  33% {
    background-size: .5em .5em, 1em 1em, .5em .5em;
    background-position: .25em 50%, 1em 50%, 2.25em 50%;
  }
  
  66% {
    background-size: .5em .5em, .5em .5em, 1em 1em; 
    background-position: .25em 50%, 1.25em 50%, 2em 50%;
  }
}

.loading-indicator {
  font-size: 200%; /* size of loader */
  
  width: 3em; height: 1em;
  background: radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 0 50%,
        radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 1.25em 50%,
        radial-gradient(closest-side, currentColor calc(100% - 1px), transparent) 2.25em 50%;
  background-size: 1em 1em, .5em .5em, .5em .5em;
  background-repeat: no-repeat;
  animation: loader 1s infinite;
}

/* Borrowed from HTML5 Boilerplate */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
